.buttons {
    border-radius: 20px 5px;
    border: 1px solid #e4e4ea;
}

.list-item {
    position: absolute;
    right:10px;
}

.mobile-navbar {
    position: absolute;
    border-left: 1px solid #919294;
    border-bottom: 1px solid #919294;
    border-radius: 20px;
    right: 0;
    width: 200px;
    padding-inline: 20px;
    padding-bottom: 7px;
    text-align: left;
    z-index: 1;
    background-color: white;
    transform: translate(-10px);
    transition: all .2s ease-in;
}

.no-menu {
    transform: translate(0);
}

.no-menu ul {
    display: none;
}
